legend {
  background-color: black;
  color: white;
  padding: 3px 6px;
}

.task {
  margin: 1rem 0;
}

label {
  font-size: 1.2rem;
}

.result {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.3rem;
  width: 450px;
}

input[type="text"] {
  width: 250px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  padding: 5px 5px 5px 5px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  margin-left: 10px;
}

input[type="text"]:focus {
  width: 50%;
}

.select-type {
  font-size: 1rem;
  margin-left: 10px;
}
